@import "./reset";

$color-grayish-blue--dark: hsl(232, 13%, 33%);
$color-grayish-blue: hsl(233, 13%, 49%);
$color-grayish-blue--light: hsl(234, 14%, 74%);
$color-grayish-blue--lighter: hsl(240, 78%, 98%);

$bg-gradient: linear-gradient(
  to bottom right,
  hsl(236, 72%, 79%),
  hsl(237, 63%, 64%)
);

body {
  background: url(../images/bg-top.svg) top right no-repeat,
    url(../images/bg-bottom.svg) bottom left no-repeat;

  background-color: $color-grayish-blue--lighter;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  text-align: center;
}

.header {
  h1 {
    color: $color-grayish-blue;
    font-size: 2.25em;
    margin-bottom: 1em;
  }

  p {
    color: $color-grayish-blue--light;
  }
}

.toggle {
  color: $color-grayish-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  &__switch {
    width: 4em;
    height: 2.25em;
    border-radius: 10rem;
    background: $bg-gradient;
    padding: 0.25em;
  }

  &__btn {
    display: block;
    width: 1.75em;
    height: 1.75em;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s ease-out;
    cursor: pointer;
  }
}

#toggle__checkbox {
  display: none;

  &:checked + .header .toggle__btn {
    transform: translateX(100%);
  }

  &:checked ~ .pricing .item__price--monthly {
    display: block;
  }

  &:checked ~ .pricing .item__price--annually {
    display: none;
  }
}

.pricing {
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.item {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 2rem rgba($color-grayish-blue--light, 0.5);
  padding: 2em;

  &__type {
    margin-bottom: 0.75em;
  }

  &__price {
    font-size: 4.5em;
    margin-bottom: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.15em;

    .small {
      font-size: 3rem;
    }

    &--monthly {
      display: none;
    }
  }

  &__features {
    margin-bottom: 2.25em;
  }

  &__feature-item {
    padding: 1em;
    border-bottom: 1px solid $color-grayish-blue--light;

    &:first-child {
      border-top: 1px solid $color-grayish-blue--light;
    }
  }

  &__btn {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    border: 1px solid currentColor;
    padding: 0.75em;
    border-radius: 0.5rem;
    transition: 0.3s ease-out;

    &--blue {
      background: $bg-gradient;
      color: white;

      &:active,
      &:hover {
        background: none;
        color: hsl(237, 63%, 64%);
      }
    }

    &--white {
      background: white;
      color: hsl(237, 63%, 64%);

      &:active,
      &:hover {
        background: none;
        color: white;
      }
    }
  }

  &--white {
    background-color: white;
    color: $color-grayish-blue;

    .item__price {
      color: $color-grayish-blue--dark;
    }
  }

  &--blue {
    background: $bg-gradient;
    color: white;
  }
}

@media (min-width: 62em) {
  body {
    background-position: top right, bottom left;
  }

  .pricing {
    max-width: 1170px;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }

  .item {
    padding: 2em;

    &--blue {
      padding: 3.5em 2em;
    }

    &:first-child {
      border-radius: 0.5em 0 0 0.5em;
    }

    &:last-child {
      border-radius: 0 0.5em 0.5em 0;
    }
  }
}
